.d-block {
    display: inline-block;
}
// .border {
//     border-bottom: 1px solid;
//     border-bottom-color: lightslategray;
// }
.header  {
    background-color: #2596be;
    height:50px;

    .app {
        color: white;padding-left: 20px;padding-top: 15px;
        display: inline-block;
        width:30%;
    }
    .todo {
        color: white;
        padding-left: 20px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .d-input {
        background-color: lightskyblue;
        display: inline-block;
        width:25%;
        i {
            color: white;
            display: inline-block;
            padding-left: 7px;
        }
    }
    .input-field {
        display: inline-block;
        border:none;
        height:25px;
        background-color: lightskyblue;
        width:90%;
    }
    .setting {
        color: white;
        padding-left: 35%;
        padding-top: 15px;
        display: inline-block;
    }
    .question {
        color: white;
        padding-left: 20px;
        padding-top: 15px;
        display: inline-block;
    }
}

.left-container {
    height:100vh;
    background-color:#F4F4F4;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    white-space: normal;


    ul {
        padding: 0;
       li:hover {
        background-color: white;
    }    
        li {
            height: 9vh;
            list-style: none;
            padding-left: 40px;
           span {
               padding-top: 20px;
           }
        }
    }
    .new:hover {
        background-color: white;
    }
    .new {
        width:90%;
        display: inline-block;
        height: 7%;
        span {
            padding-left: 40px;
            display: inline-block;
        }
        input:hover {
            background-color: white;
        }
        input:focus {
            outline: none;
        }
        input {
            display: inline-block;
            border-style: none;
            height: 30px;
            padding-bottom: 10px;
            background-color:#F4F4F4;
            padding-left: 10px;
        }
    }    
}

.new-step:focus {
    outline: none;
}
.new-step {
    border-style: none;
    padding-left: 10px;
}
.newadd_icon {
display: inline-block;
}
.symbol {
    display: inline-block;
    padding-left: 20px;
    font-family: sans-serif;
}
.right-container {
    height:90vh;
    white-space: normal;
    display: inline-block;
    width: 79%;
}
    .task {
        input {
            padding-top: 20px;
        }
    }
    .title {
       font-size: 25PX;
       color: blue;
       font-family: sans-serif;
    }
    .i-add-task {
       display: none;
   }
   .user-tasks {
        li {
            border-bottom: 1px solid;
            border-bottom-color: lightslategray;
            list-style: none;
            height: 7vh;
            span {
                padding-top: 15px;
            }
            i {
                color:skyblue;
            }
        }
   }
   .enable {
    display: block;
    display: inline-block;
    padding-left: 20px;
    outline: none;
    border-style: none;
}
    
.tasks-strikeOut {
    width:90%;
    display: inline-block;
    padding-left: 10px;
    text-decoration: line-through;
    font-family: sans-serif;
}
.tasks {
    width:90%;
    display: inline-block;
    padding-left: 10px;
    font-family: sans-serif;
}

.right {
    height:90vh;
    vertical-align: top;
    white-space: normal;
    display: inline-block;
    width: 54%;
}

.corner-container {
    height:90vh;
    white-space: normal;
    display: inline-block;
    width: 25%;
}

    .d-task {
        border: solid;
        padding-top: 60%;
    }
    .step-strikeOut {
        width:85%;
        display: inline-block;
        padding-left: 10px;
        text-decoration: line-through;
        font-family: sans-serif;
    }
    .step-title {
        width:85%;
        display: inline-block;
        padding-left: 10px;
        font-family: sans-serif;
    }
    .options {
        font-family: sans-serif;
        display: inline-block;
        padding-left: 10px;
    }
    .user-options {
        li {
            list-style: none;
        }
    }
    .user-step {
        li {
            list-style: none;
        }
}

