:root {
	--white: white;
	--lightslategray: lightslategray;
    --blue: blue;
    --header-background: #2596be;
    --skyblue: lightskyblue;
    --container-background: #F4F4F4;
}


.d-block {
    display: inline-block;
}

.header  {
    background-color: var(--header-background);
    height:50px;

    .app {
        color: var(--white);
        padding-left: 20px;
        padding-top: 15px;
        display: inline-block;
        width:30%;
    }
    .todo {
        color: var(--white);
        padding-left: 20px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .d-input {
        background-color: var(--skyblue);
        display: inline-block;
        width:25%;
        i {
            color: var(--white);
            display: inline-block;
            padding-left: 7px;
        }
    }
    .input-field {
        display: inline-block;
        border:none;
        height:25px;
        background-color: var(--lightskyblue);
        width:90%;
    }
    .setting {
        color: var(--white);
        padding-left: 35%;
        padding-top: 15px;
        display: inline-block;
    }
    .question {
        color: var(--white);
        padding-left: 20px;
        padding-top: 15px;
        display: inline-block;
    }
}

.left-container {
    height:92vh;
    background-color:var(--container-background);
    display: inline-block;
    width: 20%;
    vertical-align: top;
    white-space: normal;


    ul {
        padding: 0;
       li:hover {
        background-color: var(--white);
    }    
        li {
            height: 9vh;
            list-style: none;
            padding-left: 40px;
           span {
               padding-top: 20px;
           }
        }
    }
    .new:hover {
        background-color: var(--white);
    }
    .new {
        width:90%;
        display: inline-block;
        height: 7%;
        span {
            padding-left: 40px;
            display: inline-block;
        }
        input:hover {
            background-color: var(--white);
        }
        input:focus {
            outline: none;
        }
        input {
            display: inline-block;
            border-style: none;
            height: 30px;
            padding-bottom: 10px;
            background-color:var(--container-background);
            padding-left: 10px;
        }
    } 
    .symbol {
        display: inline-block;
        padding-left: 20px;
        font-family: sans-serif;
    }   
}

.enable {
    display: block;
    display: inline-block;
    padding-left: 20px;
    outline: none;
    border-style: none;
}

.right {
    vertical-align: top;
    white-space: normal;
    display: inline-block;
    width: 54%;
    .user-tasks {
        li {
            span {
                width:92%;
            }
        }
    }
}

.right-container {
    white-space: normal;
    display: inline-block;
    width: 79%;
}

.task {
    input {
        padding-top: 20px;
    }
}

.title {
    font-size: 25PX;
    color: var(--blue);
    font-family: sans-serif;
}
.i-add-task {
   display: none;
}
.style-for-task {
    list-style: none; 
    border-bottom: 1px solid;
    border-bottom-color: var(--lightslategray);
    height: 7vh;

    input {
        display: inline-block;
    }
    span {
        width:95%;
        display: inline-block;
        padding-left: 10px;
        font-family: sans-serif; 
        padding-top: 15px;  
    }
    .fa-star {
        color:var(--skyblue);
    }
}
.tasks-strikeOut {
    width:90%;
    display: inline-block;
    padding-left: 10px;
    text-decoration: line-through;
    font-family: sans-serif;
}
.step-strikeOut {
    text-decoration: line-through;
    width:80%;
    display: inline-block;
    padding-left: 10px;
    font-family: sans-serif;  
}

.corner-container {
    display: none;
}

.corner {
    overflow-y: auto;
    height:92vh;
    white-space: normal;
    background-color:var(--container-background);
    display: inline-block;
    width: 25%;
    li {
        list-style: none;
    }
    .top-div-In-corner {
        background-color: var(--white);
        width:92%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .task-title-In-step {
        padding-top: 10px;
        span {
           width: 80%;
           display: inline-block;
            font-family: sans-serif;
            padding-left: 10px;
        }
        .fa-star {
            color:var(--skyblue);
        }
    }
    .user-step {
        li {
            height: 8vh;
            span {
                border-bottom: 1px solid;
                border-bottom-color: var(--lightslategray);
                padding-bottom: 18px;
                width:83%;
                display: inline-block;
                padding-left: 10px;
                font-family: sans-serif;
                padding-top: 15px;
            }
        }
    }
    .new-step {
        span {
            padding-left: 5px;
        }
        input:focus {
           outline: none;
        }
        input {
            background-color: var(--white);
            border-style: none;
            padding-left: 10px;
            height: 5vh;
        }
    }
    .static-options {
        height: 27vh;
        width:93%;
        margin-left: 10px;
        margin-top: 20px;
        background-color: var(--white); 
        span {
            padding-right: 50%;
            padding-bottom: 15px;
            font-family: sans-serif;
            margin-left: 20px;
            border-bottom: 1px solid;
            border-bottom-color: var(--lightslategray); 
            
        }
        i {
            padding-left: 10px;
            padding-top: 25px;
        }    
    }
    .my-day-static {
        height: 7vh;
        width:92%;
        margin-left: 10px;
        margin-top: 20px;
        background-color: var(--white);
        i {
            padding-top: 13px;
            padding-left: 10px;
        }
        span {
            font-family: sans-serif;
            padding-left: 15px;
        }
    }
    .empty-file {
        height: 10vh;
        width:92%;
        margin-left: 10px;
        margin-top: 20px;
        background-color: var(--white);
    }
    .task-star {
        color: var(--skyblue);
    }
}
